<!DOCTYPE html>
<html>
<head>
    <title>Prisoner Dilemma Game</title>
    <%= javascript_include_tag 'app', 'game', 'data-turbolinks-track': 'reload' %>
</head>
<body>
    <h1>Welcome to the Prisoner's Dilemma Game!</h1>
    <p>Join the game and make your choices!</p>
</body>
</html>
